span.info-box-icon.push-bottom.bg-warning {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

@media only screen and (min-width: 768px) {
    .referralContainer {
        display: flex;
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 768px) {
    .logo {
        background-color: rgb(15, 15, 15) !important;
    }
    .logo .logo-lg img {
        width: 100px;
        padding: 10px 0;
    }
}
