span.info-box-icon.push-bottom.bg-warning {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.navbar-top-post-btn a {
    font-size: 17px !important;
    text-transform: uppercase;
    border-radius: 200px;
    border: none;
    padding: 15px 20px;
    background: #ff4841 !important;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 41, 41, 0.4);
    animation: pulsePostBtn 1s infinite;
}
.provider .navbar{
    background-color: #CA8309 !important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #f0b95c !important;
}
.dt-buttons .dt-button {
    background: #CA8309 !important;
    color: white !important;
}
/* CA8309 */
.btn-success, .alert-success{
    background-color: #41af0f !important;
}
.text-success{
    color: #41af0f !important;
}

.page-title{
    font-size: 22px;
}
.page-description{
    font-size: 15px
}
.infoLinkNote{
    color: rgb(39, 228, 165);
}
.infoLinkNote a{
    color: rgb(39, 228, 165);
}
.infoLinkNote a:hover{
    color: rgb(139, 255, 216);
}

.box-body thead th{
    font-weight: 600;
}

@-webkit-keyframes pulsePostBtn {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 103, 103, 0.9);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(43, 207, 112, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
@keyframes pulsePostBtn {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 103, 103, 0.9);
        box-shadow: 0 0 0 0 rgba(255, 103, 103, 0.9);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(39, 230, 118, 0);
        box-shadow: 0 0 0 10px rgba(43, 202, 109, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(43, 207, 112, 0);
        box-shadow: 0 0 0 0 rgba(43, 207, 112, 0);
    }
}

@media only screen and (min-width: 768px) {
    .referralContainer {
        display: flex;
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 768px) {
    .logo {
        background-color: rgb(15, 15, 15) !important;
    }
    .logo .logo-lg img {
        width: 100px;
        padding: 10px 0;
    }
    .show-page-vs-btn {
        margin-top: 10px;
    }
}
