html,
body {
    width: 100%;
    overflow-x: hidden;
}
.home-recently-properties {
    margin-bottom: -230px !important;
    margin-top: -175px !important;
    margin-right: 80px !important;
    margin-left: 80px !important;
}
.featured-ad-hm-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ad-list-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.featured-ad-hm-list .media-heading,
.featured-service-hm .media-heading {
    font-weight: 700;
    text-transform: capitalize;
}
.fea-ad-hm-location {
    font-size: 13px !important;
}
.mobile-cat-col {
    display: none;
}

.hm-feat-ser-mid-sec .row .col-md-4 .title,
.hm-cl-recently-properties .row .col-md-4 .title,
.job-ap-services-page .property-box .title {
    font-size: 15px;
    font-weight: 800;
    text-transform: capitalize;
}

.hm-feat-ser-mid-sec .row .col-md-4 .info,
.hm-cl-recently-properties .row .col-md-4 .info,
.job-ap-services-page .property-box .info {
    font-size: 13px;
    margin-top: 5px;
}

.hm-feat-ser-mid-sec .listing-badges {
    display: block;
}

.hm-cl-recently-properties .detail .title h4 a {
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
}
.service-page-sidebar .sp-seller-img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

#showContactSellerForm {
    margin: 0 auto;
    border-radius: 0;
    width: auto;
}

#sellerContact {
    display: none;
    margin-top: 15px;
}
.sellerContactFormShow {
    display: block !important;
    transition: display 1s;
}
.service-page-sidebar .sidebar-right .sidebar-title {
    text-transform: uppercase;
    font-weight: 500;
}
.service-page-sidebar .heading-properties-2 p {
    color: #ffc107;
}
.service-page-sidebar .heading-properties-2 p span {
    color: #000;
    font-weight: normal;
}
.service-page-sidebar .heading-properties-2 h3.service-name {
    text-transform: capitalize;
}
.service-page-sidebar {
    padding-top: 0 !important;
}
.footer h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 7px;
    text-transform: uppercase;
}
.all-services-page {
    padding-top: 0 !important;
}

/* All Services Page Top City */
.all-ser-pg-top-ct-mbl {
    display: none;
}
.all-ser-pg-top-ct-tbl {
    display: none;
}

.all-services-card .detail .title {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.all-services-card .detail .info {
    font-size: 13px;
    margin-top: 10px;
    text-transform: capitalize;
}
.contact-2 .contact-info p {
    font-weight: 700;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 100%;
    margin-bottom: -20px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 100%;
    margin-bottom: -20px;
}
.sellers-pg-ser-name a {
    font-size: 16px;
    text-transform: capitalize !important;
    padding-top: 15px;
}

.jobApSerMobile {
    display: none;
}
.jobApSerDesktop {
    display: block;
}

.cat-image-icon {
    animation: pulse-black 2s infinite linear;
}

.footer .footer-inner .Subscribe-box form .btn {
    margin-top: 5px;
}

.our-featured-cities-page .property-box .detail a,
.our-featured-cities-page .property-box .location a {
    color: #000;
}
.home-verified-business-section .title {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
}
.main-header {
    box-shadow: 0px 10px 9px 3px rgba(41, 41, 41, 0.082);
}
.main-header .nav-link {
    font-weight: 500 !important;
    color: #000;
}
.banner .banner-slider-inner {
    background-color: transparent !important;
}

@keyframes pulse-black {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.14);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (min-width: 992px) {
    .banner {
        margin: 0 150px;
    }
}

@media only screen and (max-width: 992px) {
    .home-recently-properties {
        margin-top: -90px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .home-recently-properties .fea-ser-tablet {
        display: none;
    }
    .tablet-cat-col {
        display: block !important;
        padding-left: 0;
        margin: 0 20px;
    }
    .mobile-cat-col {
        display: none;
        padding-right: 0 !important;
    }
    .desktop-cat-col {
        display: none;
    }
    .tablet-cat-col .row {
        margin-right: 0;
        margin-left: 0;
        margin-top: 65px;
    }
    .col-lg-6.tablet-cat-col {
        margin-left: 50px;
        margin-right: auto;
    }
    .blog.content-area.bg-grea-3.hm-feat-ser-mid-sec {
        margin-top: 50px;
    }
    .ser-fea-add {
        display: none;
    }
    .service-page-sidebar .sidebar-right .sidebar-title {
        font-size: 18px;
    }
    .service-page-sidebar .ser-pg-safety-tips .list-cat,
    .service-page-sidebar .ser-seller-note,
    #showContactSellerForm {
        font-size: 13px;
    }
    .all-ser-pg-top-ct-dkt {
        display: none !important;
    }
    .all-ser-pg-top-ct-mbl {
        display: none !important;
    }
    .all-ser-pg-top-ct-tbl {
        display: block !important;
    }
    .all-ser-pg-sidebar-feat-ser a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .home-recently-properties {
        margin-top: -30px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .content-area {
        margin-top: 150px !important;
    }
    img.d-block.w-100 {
        height: auto !important;
    }
    .home-recently-properties .hm-top-row {
        width: 100%;
    }
    .home-recently-properties .hm-top-row .col-lg-3 {
        width: 100% !important;
        margin: 0 !important;
        padding-right: 0;
    }
    .home-recently-properties .container-fluid {
        width: 100%;
        padding-right: 0;
    }
    .mobile-cat-col {
        display: block !important;
        padding-right: 0 !important;
    }
    .desktop-cat-col {
        display: none;
    }
    .tablet-cat-col {
        display: none !important;
    }
    .fea-ser-mobile {
        display: none;
    }
    .mobile-cat-col .cat-title {
        font-size: 11px !important;
    }
    .hm-search-form-comp .row .col-sm-6,
    .hm-feat-ser-mid-sec .col-sm-6,
    .hm-cl-recently-properties .col-sm-6,
    .job-ap-services-page .col-sm-6 {
        width: 50% !important;
    }
    .home-recently-properties .featured-ad-hm-list {
        display: none;
    }

    .hm-feat-ser-mid-sec .row .col-md-4 .title,
    .job-ap-services-page .property-box .title {
        font-size: 14px;
    }

    .hm-feat-ser-mid-sec .listing-badges,
    .job-ap-services-page .property-box .listing-badges {
        display: none;
    }

    .hm-feat-ser-mid-sec .price-ratings-box .price,
    .jobApSerMobile .price-ratings-box .price {
        text-align: left;
        font-size: 10px;
    }

    .hm-feat-ser-mid-sec .row .col-md-4 .info,
    .job-ap-services-page .property-box .info {
        font-size: 12px;
        margin-top: 5px;
    }

    .hm-cl-recently-properties .container {
        padding: 10px;
    }

    .hm-cl-recently-properties .row .col-md-4 .title {
        font-size: 13px;
    }
    .service-page-sidebar .row {
        display: block !important;
    }
    .service-page-sidebar .tabbing-box .nav-tabs .nav-link {
        border: none;
        font-size: 10px;
    }
    .go-back-btn a.btn.btn-outline-success {
        font-size: 10px;
    }
    .all-ser-pg-top-ct-dkt {
        display: none !important;
    }
    .all-ser-pg-top-ct-tbl {
        display: none !important;
    }
    .all-ser-pg-top-ct-mbl {
        display: block !important;
    }
    .all-ser-pg-top-ct-mbl a {
        font-size: 10px;
        margin-top: 5px;
    }
    .all-services-card .col-sm-6 {
        width: 50% !important;
    }
    .all-services-card .detail .title {
        font-size: 14px;
    }
    .all-services-card .detail .info {
        font-size: 12px;
        margin-top: 5px;
    }
    .all-services-card .price {
        font-size: 10px;
    }

    .sellers-page-content-area {
        margin-top: 0 !important;
    }
    .mapouter {
        height: 320px !important;
        margin-bottom: 0;
    }
    .gmap_canvas {
        height: 320px !important;
        margin-bottom: 0;
    }
    .sellers-pg-ser-name {
        padding-top: 0;
    }

    .jobApSerDesktop {
        display: none;
    }
    .jobApSerMobile {
        display: block !important;
    }
    .mobile-row {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .mobile-row .col-sm-6 {
        width: 100% !important;
        padding: 5px;
    }
    .job-ap-services-page-row {
        float: none !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
    .our-featured-cities-page .content-area {
        margin-top: 0 !important;
    }
    .our-featured-cities-page .content-area .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .our-featured-cities-page .content-area .col-sm-6 {
        width: 50% !important;
    }
    .our-featured-cities-page .property-box .detail a {
        font-size: 15px;
    }
    .our-featured-cities-page .property-box .location a {
        font-size: 12px;
    }

    .home-verified-business-section .col-sm-6 {
        width: 50%;
    }
}

/*GLOBALS*/

#slider-wrap {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

#slider-wrap ul#slider {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 300px;
    height: 200px;
}

#slider-wrap ul#slider li > div {
    position: absolute;
    top: 20px;
    left: 35px;
}

#slider-wrap ul#slider li > div h3 {
    font-size: 36px;
    text-transform: uppercase;
}

#slider-wrap ul#slider li > div span {
    font-family: Neucha, Arial, sans serif;
    font-size: 21px;
}

#slider-wrap ul#slider li i {
    text-align: center;
    line-height: 200px;
    display: block;
    width: 100%;
    font-size: 90px;
}

/*btns*/
.btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;

    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.btns:hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
}
#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
}
#counter {
    top: 30px;
    right: 35px;
    width: auto;
    position: absolute;
}

#slider-wrap.active #next {
    right: 0px;
}
#slider-wrap.active #previous {
    left: 0px;
}

/*bar*/
#pagination-wrap {
    min-width: 20px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#pagination-wrap ul {
    width: 100%;
}

#pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul,
#pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
    -moz-transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
    -o-transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
    -ms-transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
    transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
}
