html,
body {
    width: 100%;
    overflow-x: hidden;
}
.home-recently-properties {
    margin-bottom: -230px !important;
    margin-top: -175px !important;
    margin-right: 80px !important;
    margin-left: 80px !important;
}
.featured-ad-hm-image {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.featured-ad-hm-list .media-heading,
.featured-service-hm .media-heading {
    font-weight: 700;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .home-recently-properties {
        margin-top: -30px !important;
    }
    .content-area {
        margin-top: 150px !important;
    }
    img.d-block.w-100 {
        height: auto !important;
    }
}
