html,
body {
    width: 100%;
    overflow-x: hidden;
}
.home-recently-properties {
    margin-bottom: -230px !important;
    margin-top: -175px !important;
    margin-right: 80px !important;
    margin-left: 80px !important;
}
.featured-ad-hm-image {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.featured-ad-hm-list .media-heading,
.featured-service-hm .media-heading {
    font-weight: 700;
    text-transform: capitalize;
}
.fea-ad-hm-location {
    font-size: 13px !important;
}
.mobile-cat-col {
    display: none;
}

.hm-feat-ser-mid-sec .row .col-md-4 .title,
.hm-cl-recently-properties .row .col-md-4 .title {
    font-size: 15px;
    font-weight: 800;
    text-transform: capitalize;
}

.hm-feat-ser-mid-sec .row .col-md-4 .info,
.hm-cl-recently-properties .row .col-md-4 .info {
    font-size: 13px;
    margin-top: 5px;
}

.hm-feat-ser-mid-sec .listing-badges {
    display: block;
}

.hm-cl-recently-properties .detail .title h4 a {
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
}
.service-page-sidebar .sp-seller-img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

#showContactSellerForm {
    margin: 0 auto;
    border-radius: 0;
    width: auto;
}

#sellerContact {
    display: none;
    margin-top: 15px;
}
.sellerContactFormShow {
    display: block !important;
    transition: display 1s;
}
.service-page-sidebar .sidebar-right .sidebar-title {
    text-transform: uppercase;
    font-weight: 500;
}
.service-page-sidebar .heading-properties-2 p {
    color: #ffc107;
}
.service-page-sidebar .heading-properties-2 p span {
    color: #000;
    font-weight: normal;
}
.service-page-sidebar .heading-properties-2 h3.service-name {
    text-transform: capitalize;
}
.service-page-sidebar {
    padding-top: 0 !important;
}
.footer h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 7px;
    text-transform: uppercase;
}
.all-services-page {
    padding-top: 0 !important;
}
.all-ser-pg-top-ct-mbl {
    display: none;
}
.all-services-card .detail .title {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.all-services-card .detail .info {
    font-size: 13px;
    margin-top: 10px;
    text-transform: capitalize;
}
.all-ser-pg-top-ct-tbl {
    display: none;
}
.contact-2 .contact-info p {
    font-weight: 700;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 100%;
    margin-bottom: -20px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 100%;
    margin-bottom: -20px;
}

@media only screen and (max-width: 992px) {
    .home-recently-properties {
        margin-top: -90px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .home-recently-properties .fea-ser-tablet {
        display: none;
    }
    .tablet-cat-col {
        display: block !important;
        padding-left: 0;
        margin: 0 20px;
    }
    .mobile-cat-col {
        display: none;
        padding-right: 0 !important;
    }
    .desktop-cat-col {
        display: none;
    }
    .tablet-cat-col .row {
        margin-right: 0;
        margin-left: 0;
        margin-top: 65px;
    }
    .col-lg-6.tablet-cat-col {
        margin-left: 50px;
        margin-right: auto;
    }
    .blog.content-area.bg-grea-3.hm-feat-ser-mid-sec {
        margin-top: 50px;
    }
    .ser-fea-add {
        display: none;
    }
    .service-page-sidebar .sidebar-right .sidebar-title {
        font-size: 18px;
    }
    .service-page-sidebar .ser-pg-safety-tips .list-cat,
    .service-page-sidebar .ser-seller-note,
    #showContactSellerForm {
        font-size: 13px;
    }
    .all-ser-pg-top-ct-dkt {
        display: none !important;
    }
    .all-ser-pg-top-ct-mbl {
        display: none !important;
    }
    .all-ser-pg-top-ct-tbl {
        display: block !important;
    }
    .all-ser-pg-sidebar-feat-ser a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .home-recently-properties {
        margin-top: -30px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .content-area {
        margin-top: 150px !important;
    }
    img.d-block.w-100 {
        height: auto !important;
    }
    .home-recently-properties .hm-top-row {
        width: 100%;
    }
    .home-recently-properties .hm-top-row .col-lg-3 {
        width: 100% !important;
        margin: 0 !important;
        padding-right: 0;
    }
    .home-recently-properties .container-fluid {
        width: 100%;
        padding-right: 0;
    }
    .mobile-cat-col {
        display: block !important;
        padding-right: 0 !important;
    }
    .desktop-cat-col {
        display: none;
    }
    .tablet-cat-col {
        display: none !important;
    }
    .fea-ser-mobile {
        display: none;
    }
    .mobile-cat-col .cat-title {
        font-size: 11px !important;
    }
    .hm-search-form-comp .row .col-sm-6,
    .hm-feat-ser-mid-sec .col-sm-6,
    .hm-cl-recently-properties .col-sm-6 {
        width: 50% !important;
    }
    .home-recently-properties .featured-ad-hm-list {
        display: none;
    }

    .hm-feat-ser-mid-sec .row .col-md-4 .title {
        font-size: 14px;
    }

    .hm-feat-ser-mid-sec .listing-badges {
        display: none;
    }

    .hm-feat-ser-mid-sec .price-ratings-box .price {
        text-align: left;
        font-size: 10px;
    }

    .hm-feat-ser-mid-sec .row .col-md-4 .info {
        font-size: 12px;
        margin-top: 5px;
    }

    .hm-cl-recently-properties .container {
        padding: 10px;
    }

    .hm-cl-recently-properties .row .col-md-4 .title {
        font-size: 13px;
    }
    .service-page-sidebar .row {
        display: block !important;
    }
    .service-page-sidebar .tabbing-box .nav-tabs .nav-link {
        border: none;
        font-size: 10px;
    }
    .go-back-btn a.btn.btn-outline-success {
        font-size: 10px;
    }
    .all-ser-pg-top-ct-dkt {
        display: none !important;
    }
    .all-ser-pg-top-ct-tbl {
        display: none !important;
    }
    .all-ser-pg-top-ct-mbl {
        display: block !important;
    }
    .all-ser-pg-top-ct-mbl a {
        font-size: 10px;
        margin-top: 5px;
    }
    .all-services-card .col-sm-6 {
        width: 50% !important;
    }
    .all-services-card .detail .title {
        font-size: 14px;
    }
    .all-services-card .detail .info {
        font-size: 12px;
        margin-top: 5px;
    }
    .all-services-card .price {
        font-size: 10px;
    }

    .sellers-page-content-area {
        margin-top: 0 !important;
    }
    .mapouter {
        height: 320px !important;
        margin-bottom: 0;
    }
    .gmap_canvas {
        height: 320px !important;
        margin-bottom: 0;
    }
}
